{
    "consumer_key": "YOUR CONSUMER KEY HERE",
    "consumer_secret": "YOUR CONSUMER SECRET HERE",
    "access_token_key": "YOUR ACCESS TOKEN KEY HERE",
    "access_token_secret": "YOUR ACCESS TOKEN SECRET HERE"
}
